extends layout

block content
    #canvas-container
        #loading-container LOADING
            p 0%

        <canvas id="loading-canvas" width="900" height="835">Your browser doesn't support canvas</canvas>