doctype html
html
    head
        title= title
        meta(name='description', content='This is a portfolio website for myself Nathan Morgan a website developer. I work with node.js and other website developing languages')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
    body
        .wrapper
            header
                #logo: a(href='#home'): img(src='images/global/Tuqiri-logo.png')
                #title TUQIRI
                nav
                    a(class="nav-link" id="home" href="/"):| HOME
                    a(class="nav-link" id="about" href="/about"):| ABOUT
                    a(class="nav-link" id="portfolio" href="/portfolio"):| PORTFOLIO
                    a(class="nav-link" id="contact" href="/contact"):| CONTACT
            #content-wrapper
                block content
            .footerpush
        footer
            |©
            a(href="http://dragonetit.co.uk/") DragoNet
            |  IT 2014. All rights reserved.
            br
            | Site created in express.js using node.js server
            br
            #links
                a(href='http://blog.tuqiri.net'): | Blog
                a(href='https://github.com/tuqiri/tuqiri.net'): | Github
                a(href='/bug/'): | Submit bug report
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(src='/javascripts/history.js')
        script(src='/javascripts/main.js')