extends layout

block content
    #projectsWrapper.navChange
        h1 Projects
        |All the projects that have been completed or partialy completed is listed below clicking on one will open up a pop-up that will show extra details to the selected project.
        #projectsBox
            .projects
                .projectTitle Example Project
                .projectDescription
                .projectIcon
            .projects
                .projectsTitle Example Project 2
                .projectDescription
                .projectIcon
            .projects
                .projectsTitle Example Project 3
                .projectDescription
                .projectIcon
            .projects
                .projectsTitle Example Project 4
                .projectDescription
                .projectIcon