body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#canvas-container {
  width: 900px;
  height: 990px;
  margin: auto;
  margin-top: -110px;
}
#loading-container {
  text-align: center;
  width: 200px;
  position: relative;
  left: 357px;
  top: 530px;
  color: #0000ff;
  font-size: 40px;
}
